* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #222;
    color: white;
}

#titolo {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 20px;
}

.cont-img {
    width: 1400px;
    margin: auto;
}

.slide {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: none;
}

.active {
    display: inline-block;
}